Source: libdaybo-shared-perl
Section: perl
Priority: extra
Maintainer: David Duncan Ross Palmer <palmer@overchat.org>
Build-Depends: debhelper (>= 9), lynx
Build-Depends-Indep: libwww-perl,
 libdevel-cover-perl,
 libpod-coverage-perl,
 libtest-output-perl,
 libmoose-perl,
 libcache-cache-perl,
 libfile-util-perl,
 libdatetime-perl,
 libclone-perl,
 libuuid-tiny-perl,
 libtest-exception-perl,
Standards-Version: 3.7.3
Homepage: http://www.daybologic.co.uk/

Package: libdaybo-shared-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 libmoose-perl,
 libcache-cache-perl,
 libfile-util-perl,
 libdatetime-perl,
 libclone-perl,
 libuuid-tiny-perl,
Replaces: libdaybo-config-reader-perl
Description: Daybo Logic shared library
 This is an object-orientated shared library on which all
 Daybo Logic Perl code should be based, providing caching,
 logging, and other basic functionality.
