name: Perl CI

on:
  push:
    branches: [ "develop", "f/202405-pipeline-github" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: ExtUtils::MakeMaker
      run: perl Makefile.PL
    - name: make
      run: make
    - name: make test
      run: make test
